/** @format */

.main {
  width: 100%;
  height: 770px;

  padding: 50px 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .main--input_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 30px;

    height: fit-content;
    .main--input {
      height: 50px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      color: black;
      font-size: 20px;
    }

    .meme-text {
      color: black;
    }

    .main--btn {
      cursor: pointer;
      height: 60px;
      grid-column: 2 span;
      border-radius: 5px;
      outline: none;
      border: none;
      background: linear-gradient(to right, #711f8d, #a818da);
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: bold;

      &::selection {
        background: inherit;
      }
    }
  }
  img {
    margin-top: 20px;
    width: 660px;
    height: 550px;
    z-index: 0;
  }
}
